.container
  padding: 0.25rem 0

  :global(.cm-gutters),
  :global(.cm-activeLineGutter)
    background: #3D3D3D
    color: white
    border-right: none

  :global(.cm-gutterElement)
    padding-left: 0.5rem !important

  :global(.cm-activeLineGutter),
  :global(.cm-activeLine),
  :global(.cm-selectionBackground)
    background: #0004 !important

  :global(.cm-matchingBracket)
    background: #F0490645 !important

  :global(.cm-foldGutter)
    display: none !important

  :global(.cm-cursor)
    border-color: #FFF

.keyword
  color: #FF6E1F

.fn
  color: #BCB5FD

.string
  color: #80F5B4

.struct
  color: #F0B042

.attribute
  color: #F87480

.lifetime
  color: #F7D591
