.base
  background: #222222
  border: 1px solid #000
  border-radius: 8px
  box-shadow: 2px 2px 0 0 #000
  color: white
  font-size: .8rem

  display: flex
  align-items: center

  &:hover
    filter: brightness(0.8)

  > span
    padding: 0.25rem 0.5rem
    padding-right: 0.25rem
    border-right: 1px solid #000

  > div
    padding: 0.25rem
    transform: translateY(1px)

.options
  z-index: 3

  display: flex
  flex-direction: column
  background: #3D3D3D
  border: 2px solid #000
  border-radius: 8px
  box-shadow: 2px 2px 0 0 #000
  overflow: hidden

  transform: translateX(5px)

  transform-origin: top left

  &[data-open]
    animation: open-options 100ms linear;

    @keyframes open-options
      0%
        scale: 0
      100%
        scale: 1

  &[data-closed]
    animation: closed-options 100ms linear;

    @keyframes closed-options
      0%
        scale: 1
      100%
        scale: 0

.item
  width: 100%
  display: flex

  > input
    -webkit-appearance: none
    appearance: none

    &:checked + span
      background: #D9D6FE
      color: black

  > span
    width: 100%
    padding: 0.25rem 0.5rem
    font-size: 0.8rem
    transition: background 100ms ease

    &:hover
      filter: brightness(0.8)
      background: #3D3D3D

